.hero{
    width: 100%;
    min-height: 90vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 8%;
    background: #fff8f5;
    gap: 50px;
}

.hero-text{
    flex: 1;
}

.hero-text h1{
    font-size: 60px;
    color: #222;
    line-height: 1.2;
}

.hero-text span{
    color: #e53935;
}

.hero-text p{
    margin: 25px 0;
    font-size: 18px;
    color: #666;
    line-height: 1.7;
}

.hero-text button{
    padding: 15px 35px;
    background: #e53935;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 18px;
    transition: .3s;
}

.hero-text button:hover{
    background: #c62828;
}

.hero-image{
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-image img{
    width: 100%;
    max-width: 550px;
    border-radius: 20px;
}

/* Responsive */

@media(max-width:900px){

    .hero{
        flex-direction: column-reverse;
        text-align: center;
        padding: 50px 5%;
    }

    .hero-text h1{
        font-size: 42px;
    }

    .hero-text p{
        font-size: 16px;
    }
}